
<html>
<style>
	h2 {
		font-size: 250%;	
	}
	h3 {
		font-size: 150%;
		border: 5px dotted #005599;
	}
	body {
		background: #00AFA0 url("https://image.freepik.com/free-vector/abstract-background-in-geometric-style_1013-17.jpg");
		background-size: 1366px 768px;
	}
	.button {
		background-color: #00AFA0;
		color: white;
		cursor: pointer;
		padding: 5px 10px;
		text-align: center;
	}
	p {
		font-size: 125%;
	}
	form {
		font-size: 150%;
	}
	a {
		color: #ad1463;
	}
</style>
	
	<body><h2>Pending Requests</h2>
		<p>{{data}}</p>
		<form action="http://127.0.0.1:8080/approve_req" method="POST">
		
		Request: <select name="request">
			{% for thing in session.request_list %}
			<option value="{{thing[0]}}">{{thing[0]}}</option>
			{% endfor %}
		</select>
		<input type="submit" name="accept" value="Accept" class="button"/>
		<input type="submit" name="deny" value="Deny" class="button"/>
		</form>
		<form action="http://127.0.0.1:8080/dashboard">
			<input type="submit" value="Dashboard" class="button"/>	
		</form>
	</body>
</html>
