
<html>
	<body><h2>Dashboard</h2>Welcome {{data}}
		<p>Menu</p>
		<form action="http://127.0.0.1:8080/add_facility">
			<input type="submit" value="Add Facility" />	
		</form>
		<form action="http://127.0.0.1:8080/add_asset">
			<input type="submit" value="Add Asset" />	
		</form>
		<form action="http://127.0.0.1:8080/dispose_asset">
			<input type="submit" value="Dispose Asset" />	
		</form>
		<form action="http://127.0.0.1:8080/asset_report">
			<input type="submit" value="Asset Report" />	
		</form>
		<form action="http://127.0.0.1:8080/transfer_req">
			<input type="submit" value="Make Transfer Request" />	
		</form>
		<form action="http://127.0.0.1:8080/update_transit">
			<input type="submit" value="Update Request" />	
		</form>
		<form action="http://127.0.0.1:8080/logout">
			<input type="submit" value="Logout" />	
		</form>
		{{data2}} <a href="http://127.0.0.1:8080/update_transit">Pending updates</a>
	</body>
</html>
