
<html>
	<body><h2>Dashboard</h2>Welcome {{data}}
		<p>Menu</p>
		<form action="http://127.0.0.1:8080/add_facility">
			<input type="submit" value="Add Facility" />	
		</form>
		<form action="http://127.0.0.1:8080/add_asset">
			<input type="submit" value="Add Asset" />	
		</form>
		<form action="http://127.0.0.1:8080/dispose_asset">
			<input type="submit" value="Dispose Asset" />	
		</form>
		<form action="http://127.0.0.1:8080/asset_report">
			<input type="submit" value="Asset Report" />	
		</form>
		<form action="http://127.0.0.1:8080/logout">
			<input type="submit" value="Logout" />	
		</form>
	</body>
</html>
