

<html>
<style>
	h2 {
		text-align: center;
	}
	p {
		text-align: center;
	}
	body {
		background: #00AFA0 url("https://image.freepik.com/free-vector/colorful-abstract-background_1207-180.jpg") no-repeat;
		background-size: 1500px 1500px;
	}
	.button {
		background-color: #00AFA0;
		color: white;
		cursor: pointer;
		padding: 5px 10px;
		text-align: center;
	}
	form {
		text-align: center;
		font-size: 150%;
	}
</style>
<body><h2>Lost</h2><h2> Osnap Asset Tracking System</h2><p>Login</p>
		<form action="http://127.0.0.1:8080/login" method="POST">
		username:	<input type="text" name="mytext" />
		password:	<input type= "text" name="pass" />
			<input type="submit" value="Login" class="button" />
		</form>
	</body>
</html>
