
<html>
	<body><h2>Transfer Request</h2>Assets in database:
		<p>{{data}}</p>
		<form action="http://127.0.0.1:8080/transfer_req" method="POST">
		Asset and Location: <select name="asset_fac">
			{% for thing in session.asset_fac_list %}
			<option value="{{thing[0],thing[1]}}">{{thing[0],thing[1]}}</option>
			{% endfor %}
		</select>
		Asset Destination:	<select name="destination">
			{% for thing in session.fac_list %}
			<option value="{{thing[0]}}">{{thing[0]}}</option>
			{% endfor %}
		</select>
			<input type="submit" value="Submit Request" />
		</form>
		<form action="http://127.0.0.1:8080/dashboard">
			<input type="submit" value="Dashboard" />	
		</form>
	</body>
</html>
