
<html>
	<body><h2>Update Request</h2>Approved requests:
		<p>{{data}}</p>
		<form action="http://127.0.0.1:8080/update_transit" method="POST">
		Request: <select name="request_num">
			{% for thing in session.approved_req_num %}
			<option value="{{thing}}">{{thing}}</option>
			{% endfor %}
		</select>
		<p>input times in ISO format (mm-dd-yyyy)</p>
		Load date:	<input type="text" name="load" />
		Unload date:	<input type="text" name="unload" />
			<input type="submit" value="Update Request" />
		</form>
		<form action="http://127.0.0.1:8080/dashboard">
			<input type="submit" value="Dashboard" />	
		</form>
	</body>
</html>
