

<html>
	<body><h2>Report Filter Screen</h2>Welcome {{data}}
		<p>Facility Inventory Report:</p>
		<p>**This site is under construction**</p>
		
		<p>Please input your request in psql, example: "SELECT * FROM products;"</p>
		<form action="http://127.0.0.1:8080/facility_inventory_report">				
			<input type="text" name="mytext2" />
			<input type="submit" value="Facility Inventory Report" />
		</form>
		<form action="http://127.0.0.1:8080/in_transit_report">
			<p>Please input your request in psql, example: "SELECT * FROM asset_on;</p>
			<input type="text" name= "mytext3" />
			<input type="submit" value="In Transit Report"/>
		</form>
	</body>
</html>
